/.docs
/4.9.1.7_0_PREMIUM_DESBLOQUEADO
/analise de codigo fonte de painel azul outras versoes
/BACKUPS
/build_error.log
/build_final.log
/build_log_2.txt
/Código Fonte V5.0.0
/Código Fonte V5.0.0_backup_2025-12-06_06h01
/DEV_ControleTrial.ps1
/DEV_Tools
/Leia as Notas antes de usar.txt
/PAINEL BASE AZUL